<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
       
    <title>Edit</title>
</head>
    <!-- header -->
    <%- include ('partials/header.ejs') %> 
<body>
    <h1 id="titleEdit">Editar Producto </h1>
    <div class="container">
        <form class="form" method="POST" action="/productos/edit/<%=productos.id %>" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="" class="form-label">Nombre</label>
                    <input type="search" value="<%=productos.name%>" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Marca</label>
                    <input type="search" name="brande" class="form-control" required>
                </div> <div class="mb-3">
                    <label for="" class="form-label">Precio</label>
                    <input type="search" name="price" class="form-control required">
                </div> <div class="mb-3">
                    <label for="" class="form-label">Descripción</label>
                    <input type="search" name="description" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Imagen</label><br>
                    <img id="imgDelete" src="/images/<%=productos.images%>"  alt="">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Cargar nueva imagen</label>
                    <input type="file" name="Image" class="form-control" required>
                </div>
                    <br>
                <div class="container">
                    <div class="row">
                        <div class="col btnBack">
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                        <div class="col btnBack">
                            <a href="http://localhost:3000/productos"><button type="button" class="btn btn-primary" >Volver a productos</button></a> 
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
     
    
</body>
    <!-- footer -->
    <%- include('partials/footer.ejs') %> 
   
</body>
</html>